{% extends 'layout.twig' %}
{% block header %}
    <header></header>
{% endblock header %}
{% block content %}
    <section>

        <h2>404</h2>
        <p>Нам очень жаль, но страницы <b>{{ prev_page }}</b> не существует</p>
        <p>Сайт находится в разработке, возможно здесь скоро что-нибудь появится</p>
    </section>

{% endblock content %}
