{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

<section class="comprofile">
    <h2>Профиль компании</h2>

    <div class="comprofile_lay">
        <div class="pleft" method="post" action="#">
            <h2>ООО Суслики</h2>

            <h3>Краткое описание компании:</h3>
            <span>
                Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem
                non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed
                ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing blandit.
            </span>
            <label>
                Cайт компании : <a href="www.balalayka.ru">www.balalayka.ru</a>
            </label>
        </div>
        <div class="pright">
            <img class=logo src="http://pplware.sapo.pt/wp-content/uploads/2011/09/freebsd_01.jpg"/>
        </div>
    </div>

    <div class="list_events">
        <h3>Мероприятия компании</h3>

        <!-- single element start -->
        <div class="event_row">
            <div class="event_calculator">
                <h3 class="date-title">Чт</h3>
                <div class="number_month">
                    <h2 class="number">13</h2>
                    <p class="month">октября</p>
                </div>
            </div>
            <div class="descr_lay">
                <div>
                    <h4 class="title">
                        Возможно ну оооочень длинное название события, на столько
                        длинное, что занимает почти всю страницу в ширину
                    </h4>
                </div>
                <div>Начало краткого описания...</div>
            </div>
            <div class="butts_lay">
                <a class="button">Подробнее</a>
            </div>
        </div>
        <!-- single element end -->
        <!-- single element start -->
        <div class="event_row">
            <div class="event_calculator">
                <h3 class="date-title">Чт</h3>
                <div class="number_month">
                    <h2 class="number">13</h2>
                    <p class="month">октября</p>
                </div>
            </div>
            <div class="descr_lay">
                <div>
                    <h4 class="title">
                        Возможно ну оооочень длинное название события
                    </h4>
                </div>
                <div>Начало краткого описания...</div>
            </div>
            <div class="butts_lay">
                <a class="button">Подробнее</a>
            </div>
        </div>
        <!-- single element end -->

    </div>
</section>
{% endblock content %}

{% block nav %}{% endblock nav %}
{% block hat %}{% endblock hat %}