{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section>
        <h2>Профиль компании</h2>
        <div class="comprofile_lay">
            <form class="pleft" method="post" action="#">
                <div class="row uniform">
                    <div class="input">
                        <label>Наименование компании:</label>
                        <input type="text" name="demo-name" value="" placeholder="Название компании:" />
                    </div>
                    <div class="input">
                        <label>Сайт компании</label>
                        <input type="text" name="site" value="" placeholder="Сайт компании" />
                    </div>

                    <div class="input">
                        <label>Рабочий телефон:</label>
                        <input type="text" name="demo-phone" value="" placeholder="Рабочий телефон" />
                    </div>

                    <div class="input">
                        <label>Страницы в социальных сетях:</label>
                        <input type="text" name="demo-phone" value="" placeholder="Страницы в социальных сетях" />
                    </div>
                    <div class="input">
                        <label>Адрес компании:</label>
                        <input type="text" name="demo-phone" value="" placeholder="Адрес компании" />
                    </div>
                    <div class="input">
                        <label>Краткое описание компании:</label>
                        <textarea name="demo-phone" value="" placeholder="">
                        </textarea>
                    </div>
                    <div class="input">
                        <label>Название поддомена:</label>
                        <input type="text" name="demo-phone" value="" placeholder="Название поддомена" />
                    </div>

                    <div class="12u$">
                        <input type="submit" value="Сохранить" class="special" />
                    </div>
                </div>
            </form>
            <div class="pright">
                <img class=logo src="http://pplware.sapo.pt/wp-content/uploads/2011/09/freebsd_01.jpg"/>
                <a href="/company_profile" class="button special">Посмотреть профиль</a>

                <br> Текущий тариф: <a href="/tariffplan">бесплатный</a>
                <br> Баланс: 128 рублей.
                <br>
                История пополнений счёта
            </div>
        </div>
    </section>
{% endblock content %}