{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section>
        <h2>Пример контракта</h2>

        <div class="contract_view_wrap">
            <div class="contract_view_descr">
                {% include 'contract_view_descr.twig' %}
            </div>
        </div>
    </section>

{% endblock content %}
{% block nav %} {% endblock nav %}
{% block hat %} {% endblock hat %}