<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8"/>
	<title>ДОГОВОР</title>
	<meta name="generator" content="LibreOffice 5.2.2.2.0 (Linux)"/>
	<meta name="author" content="Zobov"/>
	<meta name="created" content="2017-01-18T17:41:00"/>
	<meta name="changed" content="2017-02-09T21:10:09.055430152"/>
	<style type="text/css">
		@page { size: 8.27in 11.69in; margin-right: 0.79in; margin-top: 0.01in; margin-bottom: 0.39in }
		p { margin-bottom: 0in; direction: ltr; color: #000000; line-height: 0.17in; orphans: 2; widows: 2 }
		p.western { font-family: "Book Antiqua", serif; font-size: 12pt; so-language: ru-RU }
		p.cjk { font-family: "Times New Roman", "Times New Roman", serif; font-size: 12pt }
		p.ctl { font-family: "Book Antiqua", serif; font-size: 10pt; so-language: ar-SA }
		h1 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; line-height: 0.17in; text-align: center; orphans: 2; widows: 2 }
		h1.western { font-family: "Book Antiqua", serif; font-size: 12pt; so-language: ru-RU }
		h1.cjk { font-family: "Times New Roman", "Times New Roman", serif; font-size: 12pt }
		h1.ctl { font-family: "Book Antiqua", serif; font-size: 10pt; so-language: ar-SA; font-weight: normal }
		h3 { margin-top: 0in; margin-bottom: 0in; direction: ltr; color: #000000; line-height: 0.17in; text-align: center; orphans: 2; widows: 2 }
		h3.western { font-family: "Times New Roman", "Times New Roman", serif; font-size: 11pt; so-language: ru-RU }
		h3.cjk { font-family: "Times New Roman", "Times New Roman", serif; font-size: 11pt }
		h3.ctl { font-family: "Times New Roman", "Times New Roman", serif; font-size: 12pt; so-language: ar-SA }
	</style>
</head>

<body lang="en-US" text="#000000" link="#0000ff" dir="ltr">
<p lang="ru-RU" class="western" align="center" style="line-height: 100%">
<br/>

</p>
<p lang="ru-RU" class="western" align="center" style="line-height: 100%">
<br/>

</p>
<p lang="ru-RU" class="western" align="center" style="line-height: 100%"><a name="__DdeLink__0_1341969639"></a>
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Договор
№ 4/17</b></font></font></p>
<p lang="ru-RU" class="western" align="center" style="line-height: 100%">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>оказание
услуг по размещению контекстной рекламы
</b></font></font>
</p>
<p lang="ru-RU" class="western" style="line-height: 100%"><br/>

</p>
<p lang="ru-RU" class="western" style="line-height: 100%"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">г.
Ярославль 										18 января 2017 г.</font></font></p>
<p lang="ru-RU" class="western" style="line-height: 100%"><br/>

</p>
<p lang="ru-RU" class="western" style="line-height: 100%"><br/>

</p>
<p lang="ru-RU" class="western" align="justify" style="line-height: 100%"><a name="__DdeLink__720_1341969639"></a>
   <font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">Общество
с ограниченной ответственностью
</font><font size="2" style="font-size: 11pt"><b>«</b></font><font size="2" style="font-size: 11pt"><b>КОМПАНИЯ</b></font><font size="2" style="font-size: 11pt"><b>»</b></font><font size="2" style="font-size: 11pt">,
 в лице  Генерального директора </font><font size="2" style="font-size: 11pt"><b>Человека
Фамилия Имя</b></font><font size="2" style="font-size: 11pt">,
именуемое  в  дальнейшем  «Исполнитель»,
действующее на основании Устава с одной
стороны и   Общество с ограниченной
ответственностью «</font><font size="2" style="font-size: 11pt"><b>ФИРМА_КОТОРАЯ_ХОЧЕТ_ДОБАВИТЬСЯ</b></font><font size="2" style="font-size: 11pt">»,
в лице в лице генерального директора
</font><font size="2" style="font-size: 11pt">ГЛАВЫ ЭТОЙ
КОМАНДЫ</font><font size="2" style="font-size: 11pt">,
действующее на основании Устава,
именуемое в дальнейшем «Заказчик», с
другой стороны, заключили настоящий
Договор о нижеследующем: </font></font>
</p>
<p lang="ru-RU" class="western" align="justify" style="line-height: 100%">
<br/>

</p>
<h1 lang="ru-RU" class="western"><a name="__DdeLink__722_1341969639"></a>
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><u>1.
ПРЕДМЕТ ДОГОВОРА</u></font></font></h1>
<p lang="ru-RU" class="western" align="justify" style="line-height: 100%">
<br/>

</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><a name="__DdeLink__724_1341969639"></a>
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">1.1.
«Заказчик» поручает, а «Исполнитель»
принимает на себя обязательства  по
выполнению данного договора, «Исполнитель»
обязуется на основании заказа «Заказчика»
оказывать услуги по размещению контекстной
рекламы в поисковых системах, в сети
Интернет от своего имени, но за счет и
в интересах «Заказчика». При необходимости
«Исполнитель» вправе заключать договор
с третьей стороной. </font></font>
</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><a name="__DdeLink__728_1341969639"></a>
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">Услуги
включают в себя:   </font></font>
</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">1.1.1.
Размещение контекстной рекламы:</font></font></p>
<ul>
	<li/>
<p lang="ru-RU" class="western" style="line-height: 100%"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">размещение
	текстового блока в системе Яндекс.Директ
	- поисковой системы Яндекс </font></font>
	</p>
	<li/>
<p lang="ru-RU" class="western" style="line-height: 100%"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">размещение
	текстового блока в системе </font><font size="2" style="font-size: 11pt"><span lang="en-US">Google</span></font><font size="2" style="font-size: 11pt">
	</font><font size="2" style="font-size: 11pt"><span lang="en-US">Adwords</span></font><font size="2" style="font-size: 11pt">
	- поисковой системы Google</font></font></p>
</ul>
<p lang="ru-RU" class="western" style="margin-left: 0.25in; text-indent: 0.24in; line-height: 100%">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">1.1.2.
Первичная настройка и ведение рекламной
кампании в Интернете:</font></font></p>
<ul>
	<li/>
<p lang="ru-RU" class="western" style="line-height: 100%"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">мониторинг
	рекламных кампаний;</font></font></p>
	<li/>
<p lang="ru-RU" class="western" style="line-height: 100%"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">подбор
	ключевых слов для рекламы;</font></font></p>
	<li/>
<p lang="ru-RU" class="western" style="line-height: 100%"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">составление
	объявлений;</font></font></p>
	<li/>
<p lang="ru-RU" class="western" style="line-height: 100%"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">гарантированный
	средненедельный </font><font size="2" style="font-size: 11pt"><span lang="en-US">CTR</span></font><font size="2" style="font-size: 11pt">
	кампаний на поисковых площадках - более
	3,0;</font></font></p>
	<li/>
<p lang="ru-RU" class="western" align="justify" style="line-height: 100%">
	<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">ежемесячное
	предоставление отчетов о ходе рекламной
	кампании;</font></font></p>
	<li/>
<p lang="ru-RU" class="western" align="justify" style="line-height: 100%">
	<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">своевременное
	сообщение «Заказчику» о завершении
	рекламной кампании.</font></font></p>
</ul>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; line-height: 100%">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">1.2.
Утверждённые виды рекламы, список
ключевых запросов, максимальная стоимость
клика, срок начала размещения контекстной
рекламы, текстовый или графический
рекламный блок и иные параметры размещения
определяются на основании заявок
«Заказчика», оформляемых по форме
Приложения №1 к настоящему Договору. </font></font>
</p>
<p lang="ru-RU" align="justify"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">«Заказчик»
обязуется принять и оплатить эти Услуги.</font></font></p>
<p lang="ru-RU" align="justify"><br/>

</p>
<p lang="ru-RU" class="western" align="center" style="line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><u><b>2.
СРОК ДЕЙСТВИЯ ДОГОВОРА</b></u></font></font></p>
<p lang="ru-RU" class="western" align="justify" style="line-height: 100%">
<br/>

</p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">2.1.
Настоящий Договор вступает в силу с
даты его подписания Сторонами и действует
до исполнения обязательств по данному
договору. </font></font>
</p>
<p lang="ru-RU" align="justify" style="margin-right: -0.02in; text-indent: 0.5in; line-height: 100%">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">2.2.
Досрочное расторжение Договора кроме
случаев, изложенных в Договоре в пункте
3.3.3, возможно по взаимному согласию
Сторон, выраженному в письменной форме.</font></font></p>
<p lang="ru-RU" class="western" align="justify" style="line-height: 0.17in">
<br/>

</p>
<p lang="ru-RU" class="western" align="center" style="line-height: 100%">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><u><b>3.
ПРАВА И ОБЯЗАННОСТИ СТОРОН</b></u></font></font></p>
<p lang="ru-RU" class="western" align="justify" style="line-height: 0.17in">
<br/>

</p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>3.1.
«Исполнитель» обязан:</b></font></font></p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.1.1.
Оказывать Услуги добросовестно,
профессионально и в соответствии с
заявками «Заказчика». </font></font>
</p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.1.2.
Обеспечить высокое качество оказания
Услуг, в соответствие с требованиями
«Заказчика», указанных в заявках.</font></font></p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.1.3.
Приступить к оказанию Услуг в течение
трех дней с момента поступления денежных
средств, в размере, указанном в приложении
№1.</font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; line-height: 100%">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.1.4.
Незамедлительно уведомлять «Заказчика»
обо всех обстоятельствах, которые могут
повлечь задержку в оказании Услуг.</font></font></p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.1.5.
Сохранять конфиденциальность условий
настоящего Договора, а также информации,
полученной от «Заказчика» в связи с
исполнением настоящего Договора, в
соответствии с разделом 6 настоящего
Договора.</font></font></p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.1.6.
Предоставить доступ к статистике
рекламной кампании «Заказчика»» в
системе Яндекс.Директ и </font><font size="2" style="font-size: 11pt"><span lang="en-US">Google</span></font><font size="2" style="font-size: 11pt">
</font><font size="2" style="font-size: 11pt"><span lang="en-US">Adwords</span></font><font size="2" style="font-size: 11pt">.
</font></font>
</p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<br/>

</p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<br/>

</p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<br/>

</p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<br/>

</p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>3.2.
«Исполнитель» вправе:</b></font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.2.1.
Требовать от «Заказчика» предоставления
необходимой информации для надлежащего
оказания Услуг.</font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><br/>

</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>3.3.
«Заказчик» обязан:</b></font></font></p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.3.1.
Предоставлять «Исполнителю» информацию,
необходимую для оказания «Исполнителем»
Услуг по настоящему Договору в форме
заявок, направляемых «Исполнителю» по
факсу или по электронной почте.</font></font></p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.3.2.
Оплатить Услуги в сроки и в порядке,
установленные настоящим Договором.
После поступления денежных средств на
расчетный счет «Исполнителя», «Заказчик»
не вправе отменять направленную
«Исполнителю» заявку.</font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.3.3.
Подписать Акт приемки-передачи выполненных
работ, предоставленный «Исполнителем»,
в течение трех дней, либо предоставить
претензии по Услугам в тот же срок. В
случае просрочки «Заказчика» в подписании
акта и или предоставлении претензий
услуги считаются оказанными надлежащим
образом и принятыми «Заказчиком» в
полном объеме.</font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>3.4.
«Заказчик» вправе:</b></font></font></p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.4.1.
Контролировать оказание «Исполнителем»
Услуг.</font></font></p>
<p lang="ru-RU" class="western" align="justify" style="text-indent: 0.5in; line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">3.4.2.
Выдвигать требования, необходимые для
надлежащего оказания Услуг.</font></font></p>
<p lang="ru-RU" class="western" align="justify" style="line-height: 0.17in">
<br/>

</p>
<p lang="ru-RU" class="western" align="center" style="line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><u><b>4.
ЦЕНА УСЛУГ и ПОРЯДОК РАСЧЕТОВ</b></u></font></font></p>
<p lang="ru-RU" align="justify" style="line-height: 100%">       <font face="Times New Roman, Times New Roman, serif">4.1
<font size="2" style="font-size: 11pt">Стоимость Услуг
по размещению контекстной рекламы в
системе Яндекс Директ и </font><font size="2" style="font-size: 11pt"><span lang="en-US">Google</span></font><font size="2" style="font-size: 11pt">
</font><font size="2" style="font-size: 11pt"><span lang="en-US">Adwords</span></font><font size="2" style="font-size: 11pt">
определяется путем выставления счетов
по заранее спланированному бюджету
клиентом. </font></font>
</p>
<p lang="ru-RU" align="justify" style="line-height: 100%"><br/>

</p>
<p lang="ru-RU" align="justify" style="line-height: 100%"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>Стоимость
первичной настройки одной рекламной
кампании в аккаунте Яндекс Директ и
</b></font><font size="2" style="font-size: 11pt"><span lang="en-US"><b>Google</b></span></font><font size="2" style="font-size: 11pt"><b>
</b></font><font size="2" style="font-size: 11pt"><span lang="en-US"><b>Adwords</b></span></font><font size="2" style="font-size: 11pt"><b>
составляет 6 900 рублей. </b></font></font>
</p>
<p lang="ru-RU" align="justify" style="line-height: 100%"><br/>

</p>
<p lang="ru-RU" align="justify" style="margin-left: 0.25in; line-height: 100%">
<font face="Times New Roman, Times New Roman, serif">4.2. Днем
оплаты считается день поступления
денежных средств на расчетный счет или
в кассу «Исполнителя».</font></p>
<p lang="ru-RU" class="western" align="justify" style="line-height: 0.17in">
<br/>

</p>
<p lang="ru-RU" class="western" align="center" style="line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><u><b>5.
ФОРС-МАЖОР</b></u></font></font></p>
<p lang="ru-RU" class="western" align="justify" style="line-height: 0.17in">
<br/>

</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">5.1.
Стороны освобождаются от ответственности
за частичное или полное неисполнение
своих обязанностей по настоящему
Договору, если Сторона, для которой
сложилась невозможность </font></font>
</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<br/>

</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">исполнения
своих обязанностей, докажет, что данное
неисполнение или ненадлежащее исполнение
явилось следствием действия обстоятельств
непреодолимой силы. Такими </font></font>
</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<br/>

</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; line-height: 100%; orphans: 0; widows: 0">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">обстоятельствами
считаются стихийные бедствия, вооруженные
конфликты, забастовки, издание органами
государственной власти и управления
нормативных актов, препятствующих
исполнению настоящего Договора, а также
другие события, возникшие после подписания
настоящего Договора и находящиеся вне
разумного предвидения и контроля Сторон.</font></font></p>
<p lang="ru-RU" align="justify" style="margin-right: -0.1in; text-indent: 0.2in; line-height: 100%">
        <font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">5.2.
Обстоятельством непреодолимой силы
признается также издание органами
власти и управления актов, делающих
невозможным исполнение обязательств
по настоящему Договору хотя бы одной
из Сторон.</font></font></p>
<p lang="ru-RU" class="western" style="line-height: 0.17in">         
   <font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">5.3.
Если указанные обстоятельства будут
продолжаться более трех месяцев подряд,
то Стороны в праве расторгнуть настоящий
Договор, предварительно урегулировав
все спорные вопросы. Стороны создают
комиссию для рассмотрения своих
финансовых взаимоотношений, состоящую
из равного количества полномочных
представителей обеих Сторон.</font></font></p>
<p lang="ru-RU" class="western" style="line-height: 0.17in"><br/>

</p>
<p lang="ru-RU" class="western" align="center" style="line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><u><b>6.
КОНФИДЕНЦИАЛЬНОСТЬ</b></u></font></font></p>
<p class="western" align="center" style="line-height: 0.17in"><br/>

</p>
<p lang="ru-RU" align="justify" style="margin-right: -0.02in; text-indent: 0.5in; line-height: 100%">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">6.1.
Любая информация, данные или сведения,
полученные Сторонами в целях исполнения
настоящего Договора, рассматриваются
как конфиденциальные и не могут быть
раскрыты третьим лицам, за исключением
случаев, предусмотренных действующим
законодательством Российской Федерации.</font></font></p>
<p lang="ru-RU" align="justify" style="margin-right: -0.02in; text-indent: 0.5in; line-height: 100%">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">6.2.
Конфиденциальная информация не может
быть раскрыта третьим лицам, опубликована
или другим образом разглашена в течение
срока действия настоящего Договора, в
случае отсутствия письменного разрешения
Сторон.</font></font></p>
<p lang="ru-RU" align="justify" style="margin-right: -0.02in; text-indent: 0.5in; line-height: 100%">
<br/>

</p>
<p lang="ru-RU" class="western" align="center" style="line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><u><b>7.
ОТВЕТСТВЕННОСТЬ СТОРОН</b></u></font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">7.1.
За неисполнение, ненадлежащее исполнение
своих обязательств по настоящему
Договору Стороны несут ответственность
в соответствии с действующим
законодательством РФ и настоящим
Договором.</font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">7.2.
Все штрафные санкции по настоящему
Договору могут применяться по усмотрению
Сторон и считаются полагающимися к
уплате в случае и с момента направления
соответствующей претензии виновной
Стороне. Штрафные санкции, полагающиеся
к уплате в соответствии с настоящим
пунктом, выплачиваются виновной Стороной
в течение 5 (пяти) дней с момента получения
указанной претензии. </font></font>
</p>
<p lang="ru-RU" align="justify" style="margin-right: -0.1in; text-indent: 0.2in; line-height: 90%">
         <font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">7.3
«Заказчик» самостоятельно несет полную
ответственность за несоответствие
действительности информации, переданной
«Исполнителю», действующему законодательству
РФ. </font></font>
</p>
<p lang="ru-RU" class="western" align="justify" style="margin-right: -0.1in; text-indent: 0.2in; line-height: 90%">
          <font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">7.4
«Заказчик» предупрежден о том, что
использование не принадлежащих ему
зарегистрированных товарных знаков,
логотипов, наименований, слоганов,
изображений, фотографий является
нарушением законодательства РФ.
«Заказчик» обязуется не размещать
эротические, националистические и
другие материалы, запрещенные Российским
законодательством и нарушающие нормы
сетевого этикета.</font></font></p>
<p lang="ru-RU" class="western" align="justify" style="margin-right: -0.1in; text-indent: 0.2in; line-height: 90%">
          <font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">7.5
«Исполнитель» не несет ответственности
по претензиям «Заказчика» к качеству
доступа к информации «Заказчика»,
связанных с качеством функционирования
сетей Интернет – провайдеров, городской
телефонной сети, с функционированием
абонентского оборудования и другими
обстоятельствами находящимися вне
компетенции «Исполнителя».</font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><br/>

</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><br/>

</p>
<p lang="ru-RU" align="center"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><b>8.
</b></font></font><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><u><b>ПОРЯДОК
РАЗРЕШЕНИЯ СПОРОВ</b></u></font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; font-weight: normal">
<br/>

</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; font-weight: normal">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">8.1.
Все споры или разногласия, возникающие
между Сторонами по настоящему Договору,
разрешаются путем переговоров. </font></font>
</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><span style="font-weight: normal">8.2.
В случае невозможности разрешения
разногласий путем переговоров они
подлежат рассмотрению в суде, в порядке,
установленном законодательством
Российской Федерации.</span></font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.38in; font-weight: normal">
<br/>

</p>
<p lang="ru-RU" class="western" align="center" style="line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt"><u><b>9.
ЗАКЛЮЧИТЕЛЬНЫЕ ПОЛОЖЕНИЯ</b></u></font></font></p>
<p lang="ru-RU" class="western" align="justify" style="line-height: 0.17in">
<br/>

</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">9.1.
Настоящий Договор составлен в двух
экземплярах, по одному экземпляру для
каждой из Сторон. </font></font>
</p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">9.2.
После подписания настоящего Договора
все предыдущие переговоры и переписка,
связанная с его заключением, теряют
силу.</font></font></p>
<p lang="ru-RU" align="justify" style="margin-right: -0.02in; text-indent: 0.5in; line-height: 0.17in">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">9.3.
Если какое-либо из положений настоящего
Договора становится недействительным
или неисполнимым, это не влечет за собой
недействительности или неисполнимости
остальных положений Договора. В случае
необходимости Стороны договорятся о
замене недействительного положения
действительным, наилучшим образом,
отражающим интересы Сторон.</font></font></p>
<p lang="ru-RU" align="justify" style="margin-right: -0.02in; text-indent: 0.5in; line-height: 100%">
<font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">9.4.
Стороны обязаны незамедлительно сообщать
об изменении своих почтовых адресов,
банковских реквизитов, номеров телефонов,
телефаксов.</font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; line-height: 0.17in">
<font face="Courier New, monospace"><font size="2" style="font-size: 10pt"><font face="Times New Roman, Times New Roman, serif"><font size="2" style="font-size: 11pt">9.5.
Настоящий Договор может быть изменен
и/или дополнен только документом,
составленным в письменной форме,
подписанным Сторонами и скрепленным
их печатями.</font></font></font></font></p>
<p lang="ru-RU" align="justify" style="text-indent: 0.5in; line-height: 0.17in"><a name="__DdeLink__524_1341969639"></a>
<br/>

</p>
<h3 lang="ru-RU" class="western">10. <u>ЮРИДИЧЕСКИЕ АДРЕСА
И БАНКОВСКИЕ РЕКВИЗИТЫ СТОРОН</u></h3>
<p lang="ru-RU" class="western" style="line-height: 100%"><br/>

</p>
<table width="695" cellpadding="7" cellspacing="0">
	<col width="332">
	<col width="333">
	<tr valign="top">
		<td width="332" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<p lang="ru-RU" class="western"><font face="Times New Roman, Times New Roman, serif"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><b>ООО
			«</b></span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><b>Какая-то
			компания</b></span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><b>»<br/>
</b></span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">ОГРН:
			</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">123456</span></font></font></font></p>
			<p lang="ru-RU" class="western"><font face="Times New Roman, Times New Roman, serif"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">ИНН
			/ КПП: </span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">123456</span></font></font>
			<font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">123456</span></font></font></font></p>
			<p lang="ru-RU" class="western"><font face="Times New Roman, Times New Roman, serif"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">Адрес:
			</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">123456</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">,
			</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">
			ул. Какая-то 1</span></font></font></font></p>
			<p lang="ru-RU" class="western" style="letter-spacing: -0.4pt"><br/>

			</p>
		</td>
		<td width="333" style="border-top: 1px solid #000000; border-bottom: none; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0in 0.08in">
			<p lang="ru-RU" class="western"><font face="Times New Roman, Times New Roman, serif"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><b>ООО
			«</b></span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><b>Ляляля</b></span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><b>»<br/>
</b></span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">ОГРН
			</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">12345</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><br/>
ИНН
			/ КПП: </span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">12345</span></font></font><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">
			</span></font></font></font><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">12345</span></font></font></font></font></p>
			<p lang="ru-RU" align="justify"><font face="Arial, sans-serif"><font size="2" style="font-size: 11pt"><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><span style="font-weight: normal">Юридический
			адрес:</span></span></font></font></font><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><span style="font-weight: normal">
			</span></span></font></font></font><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><span style="font-weight: normal">123456</span></span></font></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="font-weight: normal">,
			</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="font-weight: normal">ул.
			Какая-то 1</span></font></font></font></font></p>
			<p lang="ru-RU" class="western" style="letter-spacing: -0.4pt"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><br/>
</font></font><br/>

			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="332" height="75" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<p lang="ru-RU" class="western" style="letter-spacing: -0.4pt"><br/>

			</p>
			<p lang="ru-RU" class="western"><font face="Times New Roman, Times New Roman, serif"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><u>Банковские
			реквизиты:<br/>
</u></span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">Р/с:
			 </span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">123456</span></font></font></font></p>
			<p lang="ru-RU" class="western"><font face="Times New Roman, Times New Roman, serif"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">в
			</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">КУДА</span></font></font></font></p>
			<p lang="ru-RU" class="western"><font face="Times New Roman, Times New Roman, serif"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">К/с:
			</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">123456</span></font></font></font></p>
			<p lang="ru-RU" class="western"><font face="Times New Roman, Times New Roman, serif"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">БИК:
			 </span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">123456</span></font></font></font></p>
		</td>
		<td width="333" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0in 0.08in">
			<p lang="ru-RU" class="western" style="letter-spacing: -0.4pt"><br/>

			</p>
			<p lang="ru-RU" class="western"><font face="Times New Roman, Times New Roman, serif"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt"><u>Банковские
			реквизиты:<br/>
</u></span></font></font><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">Р/с:
			</span></font></font></font><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">123456</span></font></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt">
			</font></font><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">в
			</span></font></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">
			</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">КУДА</span></font></font></font></p>
			<p lang="ru-RU" class="western"><font face="Times New Roman, Times New Roman, serif"><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">К/с:
			</span></font></font></font><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">1234556</span></font></font></font></font></p>
			<p lang="ru-RU" class="western"><font face="Times New Roman, Times New Roman, serif"><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">БИК:
			</span></font></font></font><font color="#000000"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">123456</span></font></font></font></font></p>
		</td>
	</tr>
	<tr valign="top">
		<td width="332" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<p lang="ru-RU" class="western" align="center" style="letter-spacing: -0.4pt">
			<br/>

			</p>
			<p lang="ru-RU" class="western" align="center" style="letter-spacing: -0.4pt">
			<br/>

			</p>
		</td>
		<td width="333" style="border-top: none; border-bottom: none; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0in 0.08in">
			<p lang="ru-RU" class="western" align="center" style="letter-spacing: -0.4pt">
			<br/>

			</p>
		</td>
	</tr>
	<tr valign="top">
		<td width="332" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: none; padding-top: 0in; padding-bottom: 0in; padding-left: 0.08in; padding-right: 0in">
			<p lang="ru-RU" class="western" align="center" style="letter-spacing: -0.4pt">
			<font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt">___________________________</font></font></p>
			<p lang="ru-RU" class="western" align="center" style="letter-spacing: -0.4pt">
			<br/>

			</p>
			<p lang="ru-RU" class="western" align="center"><font face="Times New Roman, Times New Roman, serif"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">/</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">Человек
			И. О.</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">/</span></font></font></font></p>
			<p lang="ru-RU" class="western" align="right" style="letter-spacing: -0.4pt">
			<font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><i>МП</i></font></font></p>
			<p lang="ru-RU" class="western" align="right" style="letter-spacing: -0.4pt">
			<br/>

			</p>
			<p lang="ru-RU" class="western" align="right" style="letter-spacing: -0.4pt">
			<br/>

			</p>
		</td>
		<td width="333" style="border-top: none; border-bottom: 1px solid #000000; border-left: 1px solid #000000; border-right: 1px solid #000000; padding: 0in 0.08in">
			<p lang="ru-RU" class="western" align="center" style="letter-spacing: -0.4pt">
			<font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt">___________________________</font></font></p>
			<p lang="ru-RU" class="western" align="center" style="letter-spacing: -0.4pt">
			<br/>

			</p>
			<p lang="ru-RU" class="western" align="center"><font face="Times New Roman, Times New Roman, serif"><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">/</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">Человек
			И.О.</span></font></font><font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><span style="letter-spacing: -0.4pt">/</span></font></font></font></p>
			<p lang="ru-RU" class="western" align="right" style="letter-spacing: -0.4pt">
			<font face="Verdana, sans-serif"><font size="2" style="font-size: 9pt"><i>МП</i></font></font></p>
			<p lang="ru-RU" class="western" align="right" style="letter-spacing: -0.4pt">
			<br/>

			</p>
			<p lang="ru-RU" class="western" align="center" style="letter-spacing: -0.4pt">
			<br/>

			</p>
		</td>
	</tr>
</table>
<p lang="ru-RU" class="western" style="line-height: 100%"><br/>

</p>
<p lang="ru-RU" class="western" style="line-height: 100%"><br/>

</p>
<p lang="ru-RU" class="western" style="line-height: 100%"><br/>

</p>
</body>
</html>