{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section class="contract">
        <h2>Договор</h2>
        <div class="row_buttons">
            <a class="button">Сохранить</a>
            <a class="button">Распечатать</a>
        </div>

        <div>
            {% include 'contract_view_descr.twig' %}
        </div>

        <div class="row_buttons">
            <a class="button fit">Сохранить</a>
            <a class="button fit">Распечатать</a>
        </div>

    </section>

{% endblock content %}
