{% extends 'layout.twig' %}
{% block content %}
    <section>
        <script>
        </script>

        <div>
            <h3>Мой аккаунт</h3>
            Статус аккаунта: {% if premium == 1 %}
                премиум
            {% else %}
                обычный
            {% endif %}
        </div>

        <div class="desktop_lay_horiz">
            <article>
                Баланс счёта: {{ rur }} рублей
            </article>

            <article>
                <button class="finanse button special fit">пополнить счёт</button>
            </article>
        </div>

        <hr>
        {% include 'events_list_only.twig' %}
    </section>
{% endblock content %}
