<span class="hidden">Ваше мероприятие успешно создано!</span>
<button type="submit" class="button special fit ">{% if edit == '1' %}Отредактировать
    {% else %}Создать{% endif %}</button>
<span class="hidden">
Вы можете создать рекламную страницу вашего мероприятия, перейдя по данной ссылке :
</span>
<a style="display: none" class="button special fit" href="http://site.eventb2b.ru/">Перейти</a>