{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section class="event_people table_wrap">
        <h2>Участники</h2>

        <div class="row_buttons">
                <a href="#" class="button special fit row_elem">Сделать рассылку</a>
                <a href="#" class="button special fit row_elem">Добавить участника</a>
                <a href="#" class="button special fit row_elem">Экспорт</a>
        </div>

        <div class="event_people_row_choose">
            <h4>Показывать записи</h4>
            <select name="demo-category" id="demo-category">
                <option value="">Все</option>
                <option value="1">Какие-то</option>
                <option value="1">другие</option>
                <option value="1">записи</option>
                <option value="1">ляля</option>
            </select>
        </div>

        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th class="column_name">ФИО</th>
                    <th class="column_role">e-mail</th>
                    <th class="">Статус</th>
                </tr>
                </thead>
                <tbody>
                <!-- single element -->
                <tr>
                    <td>Алексей Фёдоров</td>
                    <td>test@google.com</td>
                    <td class="people_status">
                        <i class="status_no">no</i>
                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                    </td>
                    <td>
                    </td>
                </tr>
                <!-- end single element -->
                <!-- single element -->
                <tr>
                    <td>Алексей Фёдоров</td>
                    <td>lala@yandex.ru</td>
                    <td class="people_status">
                        <i class="status_ok">ok</i>
                        <i class="fa fa-pencil-square-o buts_single" aria-hidden="true"></i>
                    </td>
                    <td>
                    </td>
                </tr>
                <!-- end single element -->
                </tbody>
            </table>
        </div>

    </section>

{% endblock content %}
{% block nav %}{% endblock nav %}