{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section>
        <h2>Управление и статистика</h2>

        <br> Заказано билетов : <b>2</b>
        <br> Всего оплачено : <b>1</b> на сумму <b>100</b>р.
        <br> Пока не оплачено : <b>1</b> билет на сумму <b>100</b>р.
    </section>

{% endblock content %}
{% block nav %}{% endblock nav %}