{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section>
        <h2>{% if edit == '1' %}{{ data.name }}{% else %}Новое мероприятие{% endif %}</h2>
        <div class="event_create">
            <div class="steps_list">
                <a id="chooser_1" href="#" class="but_step">Шаг 1. Описание</a>
                <a id="chooser_2" href="#" class="but_step">Шаг 2. Контент</a>
                <a id="chooser_3" href="#" class="but_step">Шаг 3. Настройка билетов</a>
                <a id="chooser_4" href="#" class="but_step">Шаг 4. Завершение</a>
            </div>
            <script>
                document.addEventListener('DOMContentLoaded', function () {

                    document.getElementById('new_event').onreset = function (event) {
                        event.preventDefault();
                        console.log('here');
                    };
                });
                var form_new_event = {
                    validate: function (form_main) {
                        var object = [];
                        var form = document.querySelector('#table-tickets-all');
                        var tickets_all = form.querySelectorAll('tr'), tickets = [];
                        var z = 0;
                        for (var i = 0; i < tickets_all.length; i++) {
                            if (!tickets_all[i].classList.contains('hidden'))
                                tickets[z++] = tickets_all[i];
                        }
                        for (i = 0; i < tickets.length; i++) {
                            object[i] = {
                                name: tickets[i].querySelector('.demo1').value,
                                limit: tickets[i].querySelector('.demo2').value,
                                price: tickets[i].querySelector('.demo3').value
                            };
                        }
                        console.log(object);
                        document.getElementById('tickets-json').value = JSON.stringify(object);
                    },
                    success: function () {
                        alert('Мероприятие создано');
                    },
                    error: function () {
                        
                    }
                }
            </script>
            <div class="edit_data">
                <form action="/ajax/new_event" class="ajax_form" id="new_event" method="post">
                    <div id="step1" class="step active">
                        {% include 'event_create_step1.twig' %}
                    </div>
                    <div id="step2" class="step hidden">
                        {% include 'event_create_step2.twig' %}
                    </div>
                    <div id="step3" class="step hidden">
                        {% include 'event_create_step3.twig' %}
                    </div>
                    <div id="step4" class="step hidden">
                        {% include 'event_create_step4.twig' %}
                    </div>
                </form>

                <a id="button_next" class="button special fit">Дальше</a>

                <!-- toogler script -->
                <script>
                    document.addEventListener('DOMContentLoaded', function () {
                        var tabs = document.querySelectorAll('.event_create .steps_list a');
                        for (var i = 0; i < tabs.length; i++) {
                            tabs[i].onclick = function () {
                                var id = (this.getAttribute('id').split('_'))[1];
                                [].forEach.call(document.querySelectorAll('.edit_data .step'),
                                    function (item) {
                                        item.classList.add('hidden');
                                        item.classList.remove('active');
                                        if (item.id == 'step' + id) {
                                            item.classList.remove('hidden');
                                            item.classList.add('active');
                                            document.querySelector('#button_next.special')
                                                .removeAttribute('style');
                                            if (id == 4) {
                                                document.querySelector('#button_next.special')
                                                    .setAttribute('style', 'display: none');
                                            }
                                        }
                                    });
                            }
                        }

                        document.querySelector('#button_next.special').onclick = function () {
                            var current = document.querySelector('.step.active');
                            var next = current.nextElementSibling;
                            this.removeAttribute('style');
                            if (current.id != 'step4') {
                                current.classList.toggle('hidden');
                                current.classList.toggle('active');
                                next.classList.toggle('active');
                                next.classList.toggle('hidden');
                            } else
                                this.setAttribute('style', 'display: none');
                        };
                    })
                    
                </script>

            </div>
        </div>

    </section>

{% endblock content %}