    <label>Название мероприятия</label>
    <input type="text" name="event-name" id="demo-name" value="{{ data.name }}" placeholder="Название мероприятия">
    <label>ЧПУ</label>
    <input type="text" name="event-url" id="demo-name" value="{{ data.url }}" placeholder="ЧПУ">
    <label>Тип мероприятия</label>
    <div class="select-wrapper">
        <select name="event-type" id="demo-category">
            <option value="open">Открытое - доступное всем пользователям</option>
            <option value="close">Закрытое</option>
            <option value="private">Приватное - видно лишь по ссылке, не отображается в поиске</option>
        </select>
    </div>

    <label>Метод регистрации</label>
    <input type="radio" id="1register_send_email" name="event-regmethod" value="nonfree" checked="">
    <label for="1register_send_email">Подтверждать участников по email</label>
    <input type="radio" id="2register_nosend_email" name="event-regmethod" value="free">
    <label for="2register_nosend_email">Свободная регистрация</label>

    <label>Время начала</label>
    <div class="datetime_row">
        <input type="date" name="event-startdate" id="demo-name" value="{{ data.startdate }}">
        <input type="time" name="event-starttime" id="demo-name" value="{{ data.starttime }}">
    </div>
    <label>Время конца</label>
    <div class="datetime_row">
        <input type="date" name="event-enddata" id="demo-name" value="{{ data.enddate }}">
        <input type="time" name="event-endtime" id="demo-name" value="{{ data.edtime }}">
    </div>
    <label>Краткое описание</label>
    <textarea name="event-short" value="{{ data.short }}" id="demo-message" placeholder="Краткое описание" rows="4">
    </textarea>

    <label>Полное описание</label>
    <div>
        <script src="/assets/ckeditor/ckeditor.js"></script>
        <textarea name="event-full" id="editor1" rows="10" cols="80">
            {{ data.full }}
        </textarea>
        <script>
            CKEDITOR.replace( 'editor1' );
        </script>
    </div>

    <label>Адрес</label>
    <input type="text" name="event-address" id="demo-name" value="{{ data.address }}" placeholder="Адрес">

    <label>Форма регистрации участников</label>
    <textarea id="form_reg" rows="4" name="form-reg" placeholder="Форма регистрации участников">{{ data.reg }}</textarea>

    <label>Тип мероприятия</label>
    <div class="select-wrapper">
        <select name="event-type-sphere" >
            {% for name in names %}
                <option {# if name.0 == data. #} value="{{ name.0 }}">{{ name.1 }}</option>
            {% endfor %}
        </select>
    </div>

    <label>Сфера мероприятия</label>
    <input type="text" name="event-sphere" id="demo-name" value="" placeholder="Сфера мероприятия">

    <label>#Хэштеги</label>
    <input type="text" name="event-tags" id="demo-name" value="" placeholder="#хэштег">
