
<h2>Загрузка контента</h2>

<h4> Список загруженных файлов: </h4>
    <div id="file_list" class="file_list">
        <div>Тест</div>
    </div>
    <input name="files" id="add-files-more-in" hidden>
    <button type="button" id="add-files-more" onclick="open_form(add_files)" class="button fit file-call">
        Добавить файлы
    </button>
    <script>
        function add_files() {
            document.querySelector('#file_list').innerHTML = "<b>Прикреплённые файлы:</b><br>";
            files.forEach(function (item, i, arr) {
                document.querySelector('#file_list').innerHTML += item.name +
                    ": <a href='" + item.url + "'>Скачать</a><br>";
            });
            // document.querySelector('#add-files-more').setAttribute('disabled', 'false');
            document.querySelector('#add-files-more-in').value = JSON.stringify(files);

        }
    </script>
<!--
<div class="load_file">
    <h2>Перетащите файл сюда</h2>
    <span>или</span>
    <div class="short_but_wrap">
        <a class="button special fit short_but">Загрузить файл</a>
    </div>
</div>
-->