<div class="desktop_lay_horiz">
    <article>
        <h3>Мои мероприятия</h3>
    </article>

    <article>
        <ul class="actions">
            <a href="/event_create" class="button special fit">создать событие</a>
        </ul>
    </article>
</div>

<div class="desktop_lay_horiz4">
    <div class="status">
        <div class="select-wrapper">
            <select name="demo-category" id="demo-category">
                <option value="">Открытые</option>
                <option value="1">Полуоткрытые</option>
                <option value="1">Закрытые</option>
            </select>
        </div>
    </div>

    <div class="city">
        <div class="select-wrapper">
            <select name="demo-category" id="demo-category">
                <option value="">Москва</option>
                <option value="1">Новосибирск</option>
                <option value="1">Санкт-Петербург</option>
            </select>
        </div>
    </div>

    <div class="search">
        <input type="text" value="" placeholder="Поиск мероприятия" />
    </div>
    <i class="search-but" aria-hidden="true"></i>
</div>

<div class="desktop_lay_events">
    <div class="desktop_events">
        {% for event in events %}
        <!-- single event -->
        <div class="event" id="event_{{ event.id }}">
            <div class="event_calendar">
                <h3 class="date-title">Чт</h3>
                <div class="number_month">
                    <h2 class="number">13</h2>
                    <p class="month">октября</p>
                </div>
            </div>
            <div class="event-info">
                <div class="title-row">
                    <div class="new-title">
                       <a href="/event_create?id={{ event.id }}">{{ event.name ~ ' ' ~ event.6}}</a>
                    </div>
                    <i class="tbutton fa fa-cogs" aria-hidden="true"></i>
                    <i class="tbutton fa fa-cogs" aria-hidden="true"></i>
                </div>
                <div>
                    {% autoescape false %}
                    <b>{{ 'c ' ~ event.startdate ~ '(' ~ event.starttime ~ ')<br> по '
                        ~ event.enddate ~ '(' ~ event.endtime }})</b>
                    {% endautoescape %}
                </div>
                <div>
                    {{ event.address }}
                </div>
            </div>
            <div class="event-people">
                <div>
                    <center>Участников 5 из 15</center>
                </div>
                <a href="#" class="button special fit">Рекламировать</a>
                <a href="#" data-id="{{ event.id }}" class="button delete special fit">Удалить</a>
            </div>
        </div>
        <!-- end single event -->
        {% endfor %}
    <script>
        [].forEach.call(document.querySelectorAll('a.delete'), function (item) {
            item.onclick = function () {
                new Ajax({
                    method: "POST",
                    url: "/ajax/delete",
                    data: 'id=' + item.getAttribute('data-id'),
                    success: function () {
                        document.getElementById('event_' + item.getAttribute('data-id')).remove();
                    },
                    error: function () {

                    }
                });
            }
        });
    </script>
    </div>

    <div class="desktop_calendar">

        Загрузка
    </div>
    <script>
        new Ajax(
            {
                url: '/ajax/calendar',
                method: 'get',
                data: '',
                success: function (text) {
                    document.querySelector('.desktop_calendar').innerHTML = text;
                }
            }
        );
    </script>
    <style>
        span.today {
            text-decoration: underline;
        }
        td a {
            border: red solid 1px;
            padding: 6px;
        }
        td a:hover {
            background: red;
            color: white;
            transition-duration: 0.5s;
            font-weight: bold;
        }
    </style>
</div>