    <h2>Настройка билетов</h2>

    <label>Тип билета</label>
    <div class="select-wrapper">
        <select name="event-tickets" id="demo-category">
            <option value="anonym">Обезличенные билеты</option>
            <option value="onetoone">1 билет - 1 человек</option>
            <option value="onetotwo">1 человек -1 билет +1 сопровождающий</option>
        </select>
    </div>

    <label>Тип оплаты</label>
    <div class="select-wrapper">
        <select name="event-pay" id="demo-category">
            <option value="nal">Наличными</option>
            <option value="nonal">Безналично</option>
            <option value="byyou">Придумайте сами</option>
        </select>
    </div>

    <div class="table-wrapper">
        <table class="alt table_tickets">
            <thead>
            <tr>
                <th class="name">Название</th>
                <th class="limit">Лимит</th>
                <th class="cost">Цена</th>
                <th class="buts"></th>
            </tr>
            </thead>
            <input hidden id="tickets-json" name="tickets-json">
            <tbody id="table-tickets-all">
                <!-- single element start -->
                <tr>
                    <td>
                        <input type="text" name="demo-name" class="demo1" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo2" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo3" value="" placeholder="">
                    </td>
                    <td>
                        <div onclick="delete_it(this)" class="buts_single">
                            <i  class="icon fa-remove"></i>
                        </div>
                    </td>
                </tr>
                <tr class="hidden">
                    <td>
                        <input type="text" name="demo-name" class="demo1" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo2" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo3" value="" placeholder="">
                    </td>
                    <td>
                        <div onclick="delete_it(this)" class="buts_single">
                            <i  class="icon fa-remove"></i>
                        </div>
                    </td>
                </tr>
                <tr class="hidden">
                    <td>
                        <input type="text" name="demo-name" class="demo1" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo2" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo3" value="" placeholder="">
                    </td>
                    <td>
                        <div onclick="delete_it(this)" class="buts_single">
                            <i  class="icon fa-remove"></i>
                        </div>
                    </td>
                </tr>
                <!-- single element end -->
                <tr class="hidden">
                    <td>
                        <input type="text" name="demo-name" class="demo1" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo2" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo3" value="" placeholder="">
                    </td>
                    <td>
                        <div onclick="delete_it(this)" class="buts_single">
                            <i  class="icon fa-remove"></i>
                        </div>
                    </td>
                </tr>
                <!-- single element end -->
                <tr class="hidden">
                    <td>
                        <input type="text" name="demo-name" class="demo1" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo2" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo3" value="" placeholder="">
                    </td>
                    <td>
                        <div onclick="delete_it(this)" class="buts_single">
                            <i  class="icon fa-remove"></i>
                        </div>
                    </td>
                </tr>
                <!-- single element end -->
                <tr class="hidden">
                    <td>
                        <input type="text" name="demo-name" class="demo1" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo2" value="" placeholder="">
                    </td>
                    <td>
                        <input type="text" name="demo-name" class="demo3" value="" placeholder="">
                    </td>
                    <td>
                        <div onclick="delete_it(this)" class="buts_single">
                            <i  class="icon fa-remove"></i>
                        </div>
                    </td>
                </tr>
                <!-- single element end -->
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">
                        <a onclick="new_ticket()" class="button special fit">Новый тип</a>
                    </td>
                    <script>
                        function new_ticket() {
                            document.querySelector('#table-tickets-all tr.hidden').classList
                                .remove('hidden');
                        }
                        function delete_it(el) {
                            if ((el.parentNode.parentNode.parentNode.querySelectorAll('tr')).length != 0)
                                el.parentNode.parentNode.classList.add('hidden');

                        }
                    </script>
                </tr>
            </tfoot>
        </table>
    </div>
    <style>
        .hidden {
            display: none;
        }
    </style>
    <input type="checkbox" id="edit_close_reg" name="close-reg" checked="">
    <label for="edit_close_reg">Закрывать регистрацию если билетов нет</label>
    <input type="checkbox" id="edit_open_reg" name="open-closed" checked="">
    <label for="edit_open_reg">Открыть закрытую регистрацию (при увеличении кол-ва мест)</label>

    <label>Срок брони</label>
    <div class="row_rent">
        <div class="counter">
        <input type="text" name="event-brone" id="demo-name" value="" placeholder="">
        </div>
        <div class="select-wrapper chooser">
            <select name="brone-type">
                <option value="hr">Часов</option>
                <option value="min">Минут</option>
                <option value="day">Дней</option>
            </select>
        </div>
    </div>

