{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section class="finance_history">
        <h2>История платежей</h2>
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th>Действие</th>
                    <th>Время</th>
                    <th>Стоимость</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Пополнение счёта</td>
                        <td>24.01.1986 16:32</td>
                        <td class="money_add">+100.00</td>
                    </tr>
                    <tr>
                        <td>Продалбывание счёта</td>
                        <td>24.01.1986 16:32</td>
                        <td class="money_del">-100.00</td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="1"></td>
                    <td>Текущий счёт</td>
                    <td>+100.00</td>
                </tr>
                </tfoot>
            </table>
        </div>
    </section>

{% endblock content %}
