{% spaceless %}
<!doctype html>
<html lang="en">

    <head>
    {% block head %}
        {% include 'head.twig' %}
        {% include 'scripts.twig' %}
    {% endblock head %}
    </head>
    <body>
    <div id="wrapper">
        <div id="main">
            <div class="inner">
                {% block header %}                {% endblock header %}
                {% block hat %}
                <header id="header">
                    <a href="index.html" class="logo">Добро пожаловать, {{ fio_name }}</a>
                    <ul class="icons">
                        <li>
                            <img class="cash" src="/images/icon-cashpack.png">
                                <ul class="hidden">
                                    <li>Баланс: {{ rur }}</li>
                                    <li>
                                        <button class="finanse button">
                                            Пополнить
                                        </button>
                                    </li>
                                </ul>
                        </li>
                        <li><img class="settings" src="/images/icon-settings.png">
                            <ul class="hidden">
                                <li><a href="/company_profile">Профиль</a></li>
                                <li><a href="/requisites">Реквизиты</a></li>
                                <li><a href="/team_people">Команда</a></li>
                                <li><a href="/role">Роли</a></li>
                                <li><a href="/client_base">Клиентская база</a></li>
                            </ul></li>
                        <li><img class="mail" src="/images/icon-mail.png">
                            <ul class="hidden">
                                <li><a href="/messages">Входящие</a></li>
                                <li><a href="/messages_new">Новое письмо</a></li>
                            </ul></li>
                        <li><img class="man" src="/images/icon-man.png">
                            <ul class="hidden">
                                <li><a href="/messages">Выбор компании</a></li>
                                <li><a href="/ajax/exit">Выход</a></li>
                            </ul></li>
                    </ul>
                    <style>
                        @media (max-width: 768px) {
                            .icons {
                                display: none;
                            }
                        }
                        .hidden {
                            display: none;
                            position: absolute;
                            flex-direction: column;
                            background: white;
                            z-index: 10;
                            justify-content: center;
                            padding: 10px;
                            border: black solid 1px;
                            border-radius: 3px;
                        }
                        ul.icons li:hover .hidden{
                            display: flex;
                        }
                        ul.icons li:hover .hidden li{
                            padding: 0;
                        }
                        ul.icons li:hover .hidden:hover{
                            display: flex;
                        }
                        @media (max-width: 736px) {
                            #header .icons {
                                right: 0 !important;
                                display: done;
                                margin-top: 5px;
                                justify-content: space-around;
                                width: 100%;
                            }
                        }
                    </style>
                    <script>

                    </script>
                </header>
                    {% endblock hat %}
        {% block content %}
            {# here could be anything #}
        {% endblock content %}
            </div>
        </div>
        {% block nav %}
            {% include 'sidebar.twig' %}
        {% endblock nav %}


    </div>
    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/skel.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="/assets/js/main.js"></script>

    <!-- loading files form-popup -->
    <form style="display: none" onsubmit="return false;" id="file" class="file-form" method="post">
        <p class="added"></p>
        <input id="input-file" type="file" name="test">
        <button id="files" class="special button fit" style="margin-top: 30px">Добавить файл</button>
        <button id="files-end" class="special button fit" style="margin-top: 30px">Закончить</button>
    </form>

    <div style="display: none; width: 400px" onsubmit="return false;"
          class="choose_company" method="post">
        <form class="ajax_form" method="post" action="/ajax/setcompany" id="s_c">
            <select name="id" id="evdemo-category">
                {% for company in companies %}
                    <option value="{{ company.id }}">{{ company.data.company}}</option>
                {% endfor %}
            </select>
            <button type="submit" class="special button fit" style="margin-top: 30px">Выбрать</button>
        </form>
    </div>
    <div style="display: none" class="overlay"></div>
    <script>
        var form_s_c = {
            success: function () {
                window.location.reload();
            }
        };
        [].forEach.call(document.querySelectorAll('.finanse'), function (item) {
            item.onclick = function () {
                var answer = prompt('Введите сумму пополнения', 100);
                answer = parseInt(answer);
                if (isNaN(answer)) {
                    alert('не число');
                    return false;
                }
                new Ajax({
                    url: '/ajax/balanse',
                    method: 'post',
                    data: 'summ=' + parseInt(answer),
                    success: function () {
                        window.location.reload();
                    }
                });
            }
        });
        var callback = -1;
        function open_form(c_callback) {
            console.log('here');
            document.querySelector('.file-form').removeAttribute('style');
            document.querySelector('.overlay').removeAttribute('style');
            callback = c_callback;
        }
        document.getElementById('files-end').onclick = function () {
            document.querySelector('.file-form').setAttribute('style', 'display: none');
            document.querySelector('.overlay').setAttribute('style', 'display: none');
            if (callback != -1)
                callback();
        };
        var files = [];
        var i = 0;
        document.getElementById('files').onclick = function () {
            console.log('here');
            var xhr = new XMLHttpRequest();

            xhr.open("POST","/file.php",true);

            var file = document.getElementById('input-file').files[0];
            if(file)
            {
                var formdata = new FormData();
                formdata.append("test",file);
                xhr.send(formdata);
            }
            xhr.onreadystatechange = function(){
                if(xhr.readyState == 4 && xhr.status == 200)
                {
                    var data = JSON.parse(xhr.responseText);
                    files[i++] = data;
                    document.querySelector('p.added').innerHTML +=
                        data.name + ': <a target="_blank" href="'
                        + data.url + '">Скачать</a><br >';
                    document.querySelector('.file-form').reset();
                }
            };
        };
        {% block stop %}
        {% if company_not_chosen == 1 %}
          document.querySelector('.overlay').style.display = 'block';
          document.querySelector('div.choose_company').style.display = 'block';
        {% endif %}
        {% endblock stop %}
    </script>
        </body>
</html>
{%  endspaceless %}