{% extends 'layout.twig' %}
{% block header %}{% endblock header %}
{% block hat %}{% endblock hat %}
{% block content %}
    <section class="login">
        <h2>Вход</h2>
        <p><a href="/register">Регистрация</a></p>
        <form class="ajax_form" id="login" action="/ajax/reg_login" method="post">
            <div class="row uniform">
                <div class="input">
                    <label>Ваш логин:</label>
                    <input type="email" name="login" id="login" value=""/>
                </div>
                <div class="input">
                    <label>Ваш пароль:</label>
                    <input type="password" name="pass" id="pass" value=""  />
                </div>
                <div id="error"></div>
                <div class="12u$">
                    <input type="submit" value="Войти" class="special" />
                </div>
            </div>
        </form>
        <script>
            var form_login = {
                validate: function (form) {
                  document.getElementById('error').innerHTML = '';
                  var forms = form.querySelectorAll('input');
                  for (var i = 0; i < forms.length; i++) {
                      if (forms[i].value == '') {
                          document.getElementById('error').innerHTML = "Заполните все поля!";
                          return false;
                      }
                  }
                },
                success: function (test) {
                    test = JSON.parse(test);
                    if (test.auth == true) {
                        {% if login == true %}
                        window.location = '/';
                        {% else %}
                        window.location.reload();
                        {% endif %}
                    } else if (test.auth == 'nocompanies') {
                        new Ajax({
                            method: "GET",
                            url: "/ajax/exit",
                            data: '',
                            success: function () {
                                
                            },
                            error: function () {
                                
                            }
                        });
                        window.location = '/register_second';
                    }
                    else
                        document.getElementById('error').innerHTML = 'Неверные логин или пароль';
                }
            };
        </script>
    </section>
{% endblock content %}
{% block nav %}{% endblock nav %}
{% block stop %}{% endblock stop %}