{% extends 'layout.twig' %}
{% block content %}
    <section>

        <div class="features">
            <article>
                <span class="icon fa-paper-plane"></span>
                <div class="content">
                    <h3>Добавьте мероприятие</h3>
                    <p>Создайте свое мероприятие и начните продавать билеты прямо сейчас.</p>
                </div>
            </article>
            <article>
                <span class="icon fa-diamond"></span>
                <div class="content">
                    <h3>Пригласите участников</h3>
                    <p>Добавьте свой список и мы разошлем приглашения на ваше мероприятие.</p>
                </div>
            </article>
            <article>
                <span class="icon fa-rocket"></span>
                <div class="content">
                    <h3>Запустите рекламную компанию</h3>
                    <p>Рекламируйте событие на известных площадках Google, Яндекс, Бегун одним кликом мыши.</p>
                </div>
            </article>
            <article>
                <span class="icon fa-signal"></span>
                <div class="content">
                    <h3>Отслеживайте результаты</h3>
                    <p>Гибкая система EVENTB2B.RU позволит вам получать результаты с первых секунд.</p>
                </div>
            </article>
        </div>
    </section>

    <ul class="actions">
        <center><li><a href="/event_create" class="button">Начать прямо сейчас</a></li></center>
    </ul>



{% endblock content %}
