{% extends 'layout.twig' %}
{% block content %}
    <section class="messages">
        <h2>Сообщения</h2>
        <div class="table-wrapper">
            <table>
                <thead>
                <tr>
                    <th class="col_acts"></th>
                    <th class="col_auth">Переписчик</th>
                    <th class="col_theme">Тема</th>
                    <th class="col_time">Время</th>
                </tr>
                </thead>
                <tbody>
                    {% for message in messages %}
                <!-- single element -->
                    <tr>
                        <td>
                            <!--<i data-room="{{ message.0.room_id }}" class="fa fa-times buts_single" aria-hidden="true"></i>
                        --></td>
                        <td>
                            {{ message.0.email ~ ' (' ~ message.0.fio ~ ')' }}
                        </td>
                        <td>
                            <a href="/messages_dialog?id={{ message.0.room_id }}">{{ message.0.title}}</a>
                        </td>
                        <td> {{ (message|last).time }} </td>
                    </tr>
                    {% endfor %}
                    <!-- end single element -->

                </tbody>
            </table>
            <a href="/messages_new" class="button butt_short">Новое сообщение</a>
        </div>
    </section>
{% endblock content %}
