{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section class="messages_dialog">
        <h2>{{ messages.0.title }}</h2>
        {% for message in messages %}
        <label class="msg_their_label">{{ message.name_sender }} {{ message.date_sender }}</label>
        {% if message.from_id == id %}
        <p class="msg_own">
            <i>{{ from.fio_name ~' ' ~ from.fio_family }}</i><br>
            {{ message.text }}
            <br><b>{{ message.time }}</b>
        </p>
        {% else %}
        <p class="msg_their">
            <i>{{ to.fio_name ~' ' ~ to.fio_family }}</i><br>
            {{ message.text }}
            <br><b>{{ message.time }}</b>
        </p>
        {% endif %}
        {% endfor %}


        <form action="/ajax/new_message" class="ajax_form" method="post" id="new">
            <label>Новое сообщение</label>
            <input hidden name="room_id" value="{{ messages.0.room_id }}">
            <input hidden name="to_id" value="{{ messages.0.to_id }}">
            <textarea name="message">
            </textarea>
            <div class="buts_layout">

                <!-- <input type="file" name="file[]" value="file" multiple> -->
                <button type="button" id="but_add_new_files"
                        onclick="open_form(filesAdd)"
                        class="button fit file-call">Прикрепить файлы</button>

                <button class="button special fit" type="submit">Отправить</button>
                <script>
                    var form_new = {
                        success: function () {
                            window.location.reload();
                        }
                    }

                </script>
            </div>
            <div id="file_list" class="file_list"></div>
            <input name="files" id="add-files-more-in" hidden>

            <script>
                function filesAdd() {
                    if (files.length > 0)
                        document.querySelector('#file_list').innerHTML = "<b>Прикреплённые файлы:</b><br>";

                    files.forEach(function (item, i, arr) {
                        document.querySelector('#file_list').innerHTML += item.name +
                            ": <a href='" + item.url + "'>Скачать</a><br>";
                    });
                    // document.querySelector('#add-files-more').setAttribute('disabled', 'false');
                    document.querySelector('#add-files-more-in').value = JSON.stringify(files);
                }
            </script>

            <!--div>
                <div class="file_attached">
                    <div class="icon fa-remove"></div>
                    <span>Файл 1</span>
                </div>
                <div class="file_attached">
                    <div class="icon fa-remove"></div>
                    <span>Файл 2</span>
                </div>

            </div-->
        </form>
    </section>

{% endblock content %}
