{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section class="messages_new">
        <h2>Новое сообщение</h2>

        <a href="/messages" class="button butt_short">Вернуться</a>

        <form action="/ajax/new_room" class="ajax_form" method="post" id="m">
            <label>Получатель</label>
            <select name="event" id="evdemo-category">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.user }}</option>
                {% endfor %}
            </select>
            <!--<div>Отправить письмо в <a onclick="document.getElementById('mdemo-name').value = 'Техподдержка'">техподдержку</a></div>
            -->
            <label>Мероприятие</label>
            <input type="text" name="theme" id="demo-name" value="" placeholder="Мероприятие">

            <label>Текст сообщения</label>
            <textarea name="message" rows="10">
            </textarea>
            <button type="submit" class="button butt_short">Отправить</button>
            <script>
                var form_m = {
                  validate: function () {
                      
                  },
                  success: function (tetx) {
                      tetx = JSON.parse(tetx);
                      window.location = 'http://t7.ruksa.ru/messages_dialog?id=' + tetx['room']
                  },
                  error: function () {

                  }
                };
            </script>
        </form>
    </section>

{% endblock content %}
