{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section class="pattern">
        <h2>Шаблон анкеты</h2>
        <form action=#>
            <label for="data-question">Текст вопроса</label>
            <input type="text" name="demo-name" id="data-question" value="" placeholder="Текст вопроса">

            <label for="data-question-comment">Комментарий к вопросу</label>
            <textarea id="data-question-comment" value="" placeholder="Комментарий к вопросу">
            </textarea>

            <label for="data-question">Текст вопроса</label>
            <input type="text" id="data-question" value="" placeholder="Текст вопроса">

            <br>
            <input type="checkbox" id="demo-human" name="demo-human" checked="">
            <label for="demo-human">Ответ на вопрос обязателен</label>

            <label>Тип ответа</label>
            <div>
                <input type="radio" id="demo-priority-low" name="demo-priority" checked="">
                <label for="demo-priority-low">Короткий произвольный ответ</label>
                <input type="radio" id="demo-priority-low" name="demo-priority" checked="">
                <label for="demo-priority-low">Выбор варианта</label>
            </div>

            <label>Варианты ответа</label>
            <div>
                <div class="que_row">
                    <input type="text" id="data-question" value="" placeholder="Ответ">
                    <a class="icon fa-remove">Удалить</a>
                </div>
                <div class="que_row">
                    <input type="text" id="data-question" value="" placeholder="Ответ">
                    <a class="icon fa-remove">Удалить</a>
                </div>
                <a class="button">новый вопрос</a>

            </div>
            <hr>
            <a class="button">сохранить анкету</a>
        </form>
    </section>

{% endblock content %}
