{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section class="pattern">
        <h2>Новый бейдж</h2>
        <label for="data-question">ФИО</label>
        <input type="text" name="demo-name" id="data-question" value="" placeholder="ФИО">

        <label for="data-question">Компания</label>
        <input type="text" name="demo-name" id="data-question" value="" placeholder="Компания">

        <hr>
        <div class="badge">
            <div class="text">
                <span><h4>ООО "Дятлы"</h4></span>
                <span><h3>Барашкин Суслик Сусликович</h3></span>
                <div class="qrcode_wrap">
                    <img class="qrcode" src="http://www.livekuban.ru/upload/iblock/51b/51b8c4c8f461596fed552e293aa723d9.jpg">
                </div>
            </div>

            <div class="pict_wrap">
                <img class="logo" src="http://img.bigstream.ru/i/143963.jpg">
            </div>
        </div>
    </section>

{% endblock content %}
