{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section>
        <h2>Шаблон анкеты</h2>
        <form action=#>
            <input type="text" name="demo-name" id="demo-name" value="" placeholder="Name">
        </form>
    </section>

{% endblock content %}
