<!DOCTYPE HTML>
<!--
	Stellar by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>SRS</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main2.css" />
    <script src="/assets/js/AF-light.js"></script>
    <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <!-- Header -->
    <header id="header" class="alt">
        <!--<span class="logo"><img src="images/logo.svg" alt="" /></span>-->
        <h1>Регистрация организатора в системе</h1>
        <p>Пожалуйста, введите данные для регистрации организатора в <br />
            Smart Registration System.</p>
    </header>

    <!-- Nav -->
    <nav id="nav">
        <ul>
            <li><a style="color: black" href="/register_second">Юридическое лицо</a></li>
            <li><a style="color: black" href="/registerip" class="active">Индивидуальный предприниматель</a></li>
            <li><a style="color: black" href="/registerfiz">Физическое лицо</a></li>
        </ul>
    </nav>

    <!-- Main -->
    <div id="main">

        <!-- Introduction -->
        <section id="intro" class="main" style="padding-bottom: 0; margin-bottom: 0">
        <div class="spotlight">
                <div class="content">
                    <header class="major">
                        <h2>Регистрационные данные</h2>
                    </header>
                    <form id="register" class="ajax_form" action="/ajax/register" method="post">
                        <div class="spotlight">
                            <div class="content">
                                <label>Наименование:</label>
                                <input type="text" name="company" id="demo-name" value="" placeholder="Полное название организации">
                            </div>
                            <span class="image"><img src="images/pic01.png" alt="" /></span>
                        </div>
                        <label>Юридический адрес:</label>
                        <input type="text" name="ur-address" id="demo-name" value="" placeholder="Адрес компании">

                        <label>Физический адрес:</label>
                        <input type="text" name="fiz-address" id="demo-name" value="" placeholder="Адрес компании">

                        <label>Почтовый адрес:</label>
                        <input type="text" name="post-address" id="demo-name" value="" placeholder="Адрес компании">

                        <label>ИНН:</label>
                        <input type="text" name="inn" id="demo-name" value="" placeholder="ИНН">
                        <label>ОГРНИП:</label>
                        <input type="text" name="ogrnip" id="demo-name" value="" placeholder="ОГРН">

                        <label>Наименование банка:</label>
                        <input type="text" name="bank_name" id="demo-name" value="" placeholder="Наименование банка">

                        <label>Рассчетный счет:</label>
                        <input type="text" name="bank_account" id="demo-name" value="" placeholder="Рассчетный счет">

                        <label>БИК:</label>
                        <input type="text" name="bik" id="demo-name" value="" placeholder="БИК">
                        <input hidden name="type" value="ip">
                        <label>Корреспондентский счет:</label>
                        <input type="text" name="cor_account" id="demo-name" value="" placeholder="Корреспондентский счет"></br>
                        <div id="error"></div>
                        <ul class="actions">
                            <li><button style="padding: 10px 25px; height: auto; font-size: 16px" type="submit" class="button">Зарегистрироваться</button></li>
                        </ul>
                    </form>
                </div>
            </div>
        </section>
        <script>
            var form_register = {
                validate: function (form) {
                    document.getElementById('error').innerHTML = '';
                    var forms = form.querySelectorAll('input');
                    for (var i = 0; i < forms.length; i++) {
                        if (forms[i].value == '') {
                            document.getElementById('error').innerHTML = "Заполните все поля!";
                            return false;
                        }
                    }
                },
                success: function (test) {
                    test = JSON.parse(test);
                    window.location = '/desktop';
                }
            };
        </script>



        <!-- Footer -->
        <footer id="footer" style="padding-top: 0; margin-top: 0; margin-bottom: 0">
            <p class="copyright">© 2016/17 EVENTB2B.RU</p>
        </footer>
    </div>

    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/skel.min.js"></script>
    <script src="assets/js/util.js"></script>
    <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
    <script src="assets/js/main.js"></script>

</body>
</html>