{% extends 'layout.twig' %}
{% block header %}

{% endblock header %}
{% block content %}

    <section>
        <h2>Платёжные реквизиты</h2>
        <div class="comprofile_lay">
            <form class="pleft" method="post" action="#">
                <input type="radio" id="demo-priority-low" name="demo-priority" checked="">
                <label for="demo-priority-low">Юридическое лицо</label>
                <br>
                <input type="radio" id="demo-priority-mid" name="demo-priority">
                <label for="demo-priority-mid">Индвидиуальный предприниматель</label>
                <br>
                <input type="radio" id="demo-priority-high" name="demo-priority">
                <label for="demo-priority-high">Физическое лицо</label>

                <div class="row uniform row_settings">
                    <div class="input fit">
                        <label>Наименование плательщика</label>
                        <input type="text" name="demo-name" value="" placeholder="" />
                    </div>
                    <div class="input">
                        <label>ИНН</label>
                        <input type="text" name="site" value="" placeholder="" />
                    </div>

                    <div class="input">
                        <label>ОГРН</label>
                        <input type="text" name="demo-phone" value="" placeholder="" />
                    </div>

                    <div class="input">
                        <label>Юридический адрес</label>
                        <input type="text" name="demo-phone" value="" placeholder="" />
                    </div>
                    <div class="input">
                        <label>Наименование банка</label>
                        <input type="text" name="demo-phone" value="" placeholder="" />
                    </div>
                    <div class="input">
                        <label>БИК</label>
                        <input type="text" name="demo-phone" value="" placeholder="" />
                    </div>
                    <div class="input">
                        <label>Корр. счёт</label>
                        <input type="text" name="demo-phone" value="" placeholder="" />
                    </div>

                    <div class="12u$">
                        <input type="submit" value="Сохранить" class="special" />
                    </div>
                </div>
            </form>
            <div class="pright">
                <a href="#" class="button fit requisites_teamchoose">ООО "Интех"</a>
                <a href="#" class="button fit">АО Синтез</a>
                <a href="#" class="button special fit">Новый плательщик</a>
            </div>
        </div>
    </section>
{% endblock content %}