{% extends 'layout.twig' %}
{% block header %}{% endblock header %}
{% block content %}
    <section>
        <h2>Роли пользователей</h2>
        В данном разделе Вы можете отредактировать роли пользователей, тем
        самым предоставив им доступ к разделам личного кабинета
        <br><br>

        <div>
            <table>
                <thead>
               <!-- <tr>
                    <th>Название роли</th>
                    <th></th>
                    <th></th>
                </tr>-->
                </thead>
                Сначала <a href="/team_people">добавьте</a> кого-нибудь!<br>
                Вы не можете создавать роли без добавленных участников команды!
                <tbody><!--
                    <tr>
                        <td>Админ всемогущий</td>
                        <td>
                            <i class="fa fa-pencil-square-o buts_single" aria-hidden="true"></i>
                        </td>
                        <td>
                            <i class="fa fa-times buts_single" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Модератор</td>
                        <td>
                            <i class="fa fa-pencil-square-o buts_single" aria-hidden="true"></i>
                        </td>
                        <td>
                            <i class="fa fa-times buts_single" aria-hidden="true"></i>
                        </td>
                    </tr>
                    <tr>
                        <td>Бухгалтерша Люся</td>
                        <td>
                            <i class="fa fa-pencil-square-o buts_single" aria-hidden="true"></i>
                        </td>
                        <td>
                            <i class="fa fa-times buts_single" aria-hidden="true"></i>
                        </td>
                    </tr>
                   -->
                </tbody>
            </table>
            <button disabled  href="/role_create" class="button fit special">Новая роль</button>
        </div>
    </section>

{% endblock content %}