{% extends 'layout.twig' %}
{% block header %}{% endblock header %}
{% block content %}
    <section>
        <h2>Создание / редактирование роли</h2>

        <label>Название роли</label>
        <input type="text" name="demo-name" id="demo-name" value="" placeholder="Название роли">

        <div class="roles_lay_access">
            <label>Доступ к разделам личного кабинета</label>

            <input type="checkbox" id="edit-company-info" checked="">
            <label for="edit-company-info">Редактирование информации о компании</label>

            <input type="checkbox" id="edit-requisites" checked="">
            <label for="edit-requisites">Реквизиты (выбор ИП/Юр. лицо)</label>

            <input type="checkbox" id="edit-greetings" checked="">
            <label for="edit-greetings">Приглашение в команду, возможность приглашать в команду от лица компании</label>

            <input type="checkbox" id="edit-messages" checked="">
            <label for="edit-messages">Сообщения (посетителям), общение с посетителями страницы, доступ к сообщениям</label>

            <input type="checkbox" id="edit-events" checked="">
            <label for="edit-events">Создание / редактирование мероприятий </label>

            <input type="checkbox" id="edit-events-del" checked="">
            <label for="edit-events-del">Удаление мероприятий</label>

            <input type="checkbox" id="edit-register-people" checked="">
            <label for="edit-register-people">Регистрация участников непосредственно на мероприятии или по заявке, когда закрыта онлайн регистрация</label>

            <input type="checkbox" id="edit-buh" checked="">
            <label for="edit-buh">Доступ к бухгалтерии</label>

            <input type="checkbox" id="edit-analytics" checked="">
            <label for="edit-analytics">Доступ к аналитике</label>

            <input type="checkbox" id="edit-advert" checked="">
            <label for="edit-advert">Рекламная кампания</label>

            <input type="checkbox" id="edit-globalsend" checked="">
            <label for="edit-globalsend">Рассылки</label>

        </div>

        <a href="#" class="button roles_button_save">Сохранить</a>

    </section>

{% endblock content %}