<div id="sidebar">
    <div class="inner">
        <img width="80%" src="/assets/img/logo.png">
        <!-- Search -->
        <section id="search" class="alt">
            <form method="post" action="#">
                <input type="text" name="query" id="query" placeholder="Search" />
            </form>
        </section>

        <!-- Menu -->
        <nav id="menu">
            <header class="major">
                <h2>Меню</h2>
            </header>
            <ul>
                <li><a href="/">Главная (Рабочий стол)</a></li>

                <li>
                    <span class="opener">Настройки</span>
                    <ul>
                        <li><a href="/company_profile_edit">Профиль компании</a></li>
                        <li><a href="/requisites">Реквизиты</a></li>
                        <li><a href="/team_people">Команда</a></li>
                        <li><a href="/role">Пользователи (роли)</a></li>
                        <li><a href="/contract">Договор</a></li>
                    </ul>
                </li>



                <li>
                    <span class="opener">Мои мероприятия</span>
                    <ul>
                        <li><a href="/event_create">Новое мероприятие</a></li>
                        <li><a href="/events_list">Список мероприятий</a></li>
                        <li><a href="/visitors">Посетители</a></li>
                        <li><a href="#">Опросы</a></li>
                    </ul>
                </li>

                <li><a href="/messages">Сообщения</a></li>

                <li>
                    <span class="opener">Шаблоны</span>
                    <ul>
                        <li><a href="/pattern_anket_new">Шаблоны анкет</a></li>
                        <li><a href="/pattern_badge_create">Шаблоны бейджей</a></li>
                        <li><a href="#">Шаблоны билетов</a></li>
                    </ul>
                </li>

                <li>
                    <span class="opener">Отчеты</span>
                    <ul>
                        <li><a href="#">Бухгалтерия</a></li>
                        <li><a href="/finance_history">Финансы</a></li>
                        <li><a href="#">Статические данные</a></li>
                        <li><a href="#">Аналитика</a></li>
                    </ul>
                </li>





                <li><a href="#">Реклама</a></li>
                <li><a href="base_users.php">База данных клиентов</a></li>
                <li><a href="#">Рассылки</a></li>
                <li><a href="/docs">Документы</a></li>



            </ul>
        </nav>
        <section>
            <header class="major">
                <h2>Техническая поддержка</h2>
            </header>
            <p>Возникли вопросы?</p>
            <ul class="contact">
                <li class="fa-envelope-o"><a href="#">support@eventb2b.ru</a></li>
                <li class="fa-phone">(000) 000-0000</li>

            </ul>
        </section>
        <footer id="footer">
            <p class="copyright">&copy; 2016/17 EVENTB2B.RU</p>
        </footer>

    </div>
</div>