{% extends 'layout.twig' %}
{% block header %}{% endblock header %}
{% block content %}
    <section>
        <h2>Тарифные планы</h2>
        <div>
            Текущий тарифный план : <b>Бесплатный</b>
        </div>
        <br>
        <div class="table-wrapper">
            <table class="alt">
                <thead>
                <tr>
                    <th>Услуга</th>
                    <th>Бесплатный</th>
                    <th>Премиум</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Добавление соорганизаторов</td>
                        <td>Нет</td>
                        <td>Да</td>
                    </tr>
                    <tr>
                        <td>Дисковое пространство</td>
                        <td><strike>50</strike>100 Mb</td>
                        <td>1000 Mb</td>
                    </tr>
                    <tr>
                        <td>Создавать мероприятия</td>
                        <td>Да, не более 3-х в месяц</td>
                        <td>Да, неограниченное количество</td>
                    </tr>
                    <tr>
                        <td>Продажа билетов</td>
                        <td>Да, с повышенной комиссией</td>
                        <td>Да, стандартная комиссия</td>
                    </tr>
                    <tr>
                        <td>Дополнительные шаблоны</td>
                        <td>Нет</td>
                        <td>Да</td>
                    </tr>
                    <tr>
                        <td>Просмотр списка участников</td>
                        <td>Да, до 30% общего количества участников, но не более 40</td>
                        <td>Да, неограниченное количество</td>
                    </tr>
                    <tr>
                        <td>Без рекламы</td>
                        <td>баннеры в личном кабинете и на странице с мероприятием</td>
                        <td>Без рекламы</td>
                    </tr>
                    <tr>
                        <td>QR-код</td>
                        <td>Да</td>
                        <td>Да</td>
                    </tr>
                    <tr>
                        <td>Bar-код</td>
                        <td>Да</td>
                        <td>Да</td>
                    </tr>

                </tbody>
                <tfoot>
                </tfoot>
            </table>
        </div>
        <a href="#" class="button special">Перейти на премиум</a>
    </section>

{% endblock content %}