{% extends 'layout.twig' %}
{% block header %}{% endblock header %}
{% block content %}
    <section>


        <h2>Создание пользователя</h2>
        <form method="post" action="#">
            <div class="row uniform">
                <div class="input">
                    <label>Имя пользователя:</label>
                    <input type="text" name="demo-name" id="demo-name" value="" />
                </div>
                <div class="4u 12u$(small) input">
                    <input type="radio" id="demo-priority-low" name="demo-priority" checked>
                    <label for="demo-priority-low">Администратор страницы организации</label>
                </div>
                <div class="4u 12u$(small) input">
                    <input type="radio" id="demo-priority-normal" name="demo-priority">
                    <label for="demo-priority-normal">Оператор</label>
                </div>
                <div class="4u$ 12u$(small) input">
                    <input type="radio" id="demo-priority-high" name="demo-priority">
                    <label for="demo-priority-high">Регистратор</label>
                </div>
                <div class="4u$ 12u$(small) input">
                    <input type="radio" id="demo-priority-high" name="demo-priority">
                    <label for="demo-priority-high">Бухгалтер</label>
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Создать пользователя" class="special" /></li>
                        <li><input type="reset" value="Редактировать доступ" /></li>
                    </ul>
                </div>
            </div>
        </form>

    </section>

{% endblock content %}