{% extends 'layout.twig' %}
{% block content %}
    <section>
        <h2>Команда компании</h2>
        <div>
            В данном разделе Вы можете добавить представителей вашей компании и предоставить
            им доступ к разделам личного кабинете (по ролям или индивидуально).
        </div>
        <hr>

        <div class="table-wrapper">
            Ой! Тут пока пусто
            <table>
               <thead>
               <!--   <tr>
                     <th class="column_name">Представитель</th>
                     <th class="column_role">Роль пользователя</th>
                     <th class="column_buts">
                     </th>
                     <th class="column_buts">
                     </th>
                 </tr>-->
                </thead>
                <tbody>
                    <!-- single element -->
                   <!-- <tr>
                        <td>Алексей Фёдоров</td>
                        <td>Администратор</td>
                        <td class="buts">
                            <i class="fa fa-pencil-square-o buts_single" aria-hidden="true"></i>
                            <i class="fa fa-times buts_single" aria-hidden="true"></i>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <!-- end single element -->
                    <!-- single element -->
                   <!-- <tr>
                        <td>Алексей Фёдоров</td>
                        <td>Администратор</td>
                        <td class="buts">
                            <i class="fa fa-pencil-square-o buts_single" aria-hidden="true"></i>
                            <i class="fa fa-times buts_single" aria-hidden="true"></i>
                        </td>
                        <td>
                        </td>
                    </tr>
                    <!-- end single element -->

                    <!-- last row - always to add new user -->

                </tbody>
            </table>
            <select name="event" id="evdemo-category">
                {% for user in users %}
                    <option value="{{ user.id }}">{{ user.user }}</option>
                {% endfor %}
            </select>
            <button onclick="function fix(el) {
                el.setAttribute('disabled', 'true');
                alert('Приглашение отправлено! Ожидайте!');
                    }fix(this)" class="button special fit">Пригласить</button>

        </div>
    </section>
{% endblock content %}
