{% extends 'layout.twig' %}
{% block content %}
    <section>
        <h2>Посетители мероприятий</h2>
        <div>
            В данном разделе отображается список всех посетителей Ваших мероприятий.
        </div>
        <hr>
    <!--
        <div class="visitors_searchlay">
            <div class="age">
                <div class="select-wrapper">
                    <select name="demo-category" id="demo-category">
                        <option value="">Возраст</option>
                        <option value="1">До 18</option>
                        <option value="1">После 100</option>
                    </select>
                </div>
            </div>
            <!--
            <div class="city">
                <div class="select-wrapper">
                    <select name="demo-category" id="demo-category">
                        <option value="">Город</option>
                        <option value="1">Новосибирск</option>
                        <option value="1">Санкт-Петербург</option>
                    </select>
                </div>
            </div>-->


            <div class="city">
                <div class="select-wrapper">
                    <select name="event" id="evdemo-category">
                        {% for event in events %}
                            <option {% if id == event.id %} selected {% endif %} value="{{ event.id }}">{{ event.name }}</option>
                        {% endfor %}
                    </select>
                    <script>
                    document.getElementById('evdemo-category').onchange =
                    function () {
                        window.location = '/visitors?id=' + this.options[this.selectedIndex].value;
                    }
                    </script>
                </div>
            </div>
      <!--      <div class="sex">
                <div class="select-wrapper">
                    <select name="demo-category" id="demo-category">
                        <option value="">Пол</option>
                        <option value="1">Мо</option>
                        <option value="1">Жо</option>
                        <option value="1">И Мо, и Жо</option>
                    </select>
                </div>
            </div>

            <div class="butt">
                <a href="#" class="button icon fa-search butt-inner">search</a>
            </div>
        </div>
-->
        <div class="visitors_table table-wrapper">
            {% if users == '0' %}
            Никого нет
            {% else %}
            <table>
                <thead>
                    <tr>
                        <th>Имя</th>
                        <th>Пол</th>
                        <th>Возраст</th>
                        <th>Компания</th>
                    </tr>
                </thead>
                <tbody>
                {% for user in users %}

                <tr>
                        <td>{{ user.uname ~ ' ' ~ user.ufamily }}</td>
                        <td>Муж</td>
                        <td>{{ 22 - user.id }}</td>
                        <td>{{ user.ucompany }}</td>
                    </tr>
{% endfor %}                </tbody>

            </table>
            {% endif %}

        </div>
    </section>

{% endblock content %}
