@import 'nib'

$phone = "(max-width: 800px)"
$desktop = "(min-width: 801px)"

/* /comprofile */
.comprofile_lay
	display flex
	flex-direction row
	@media $phone
		flex-direction column-reverse
	width 100%

.comprofile_lay label
	margin-top 1em
	
.comprofile_lay .pleft
	width 70%
	margin 1em 1em 1em 1em
	@media $phone
		width 100%
	margin-top 1em

.comprofile_lay .pright
	width 30%
	margin 1em 1em 1em 1em
	@media $phone
		width 100%
			   
.comprofile_lay > input
	width 100% !important
	
.comprofile_lay .logo
	width 100%
	height auto

.comprofile_lay .elemenet
	width 100%
/*
 * for /desktop
 */

.desktop_lay_horiz
	display flex
	flex-direction row
	width calc(60% + 3em)
	@media $phone
		flex-direction column
		width calc(100%)
	margin 1em 0 0 0

.desktop_lay_horiz article
	margin 0 0 0 0
	position relative
	width calc(50% - 3em)
	@media $phone
		width 100%

.desktop_lay_horiz4
	border 1px solid gray
	background-color rgba(0, 0, 0, 0.05)
	width calc(100%)

	display flex
	flex-direction row
	@media $phone
		flex-direction column

.desktop_lay_horiz4 .status
	padding 1em 1em 1em 1em
	width calc(100%)
	@media $desktop
		width calc(30%)
		border-right 1px solid grey

.desktop_lay_horiz4 .city
	padding 1em 1em 1em 1em
	width calc(100%)
	@media $desktop
		border-right 1px solid grey
		width calc(30%)

	display flex
	flex-direction row
	@media $phone
		flex-direction column

.desktop_lay_horiz4 .search
	padding 1em 1em 1em 1em
	width 100%
	@media $desktop
		border-right 1px solid grey
		width 30%

.desktop_lay_horiz4 .search-but-wrap
	display flex
	flex-direction column
	justify-content center
	width 10%
	@media $phone
		width 100%
			   
.desktop_lay_horiz4 .search-but
	// background-image url('/images/search-icon.png')
	background-size cover

/* for desktop event */
.desktop_lay_events
	width 100%
	display flex
	flex-direction row
	@media $phone
		flex-direction column

.desktop_calendar
	margin 1em 1em 1em 1em
	width 20%
	align right

.desktop_events
	width 70%
	@media $phone
		width 100%

	display flex
	flex-direction column

.desktop_events .event
	margin  1em 0 0 0
	padding  1em 1em 1em 1em
	border-bottom  1px black solid
	width  calc(100%)
	/*
	@media $desktop
		height  10em
	*/
	display flex
	flex-direction row
	@media $phone
		flex-direction column

.event_calendar
	margin  0 0 0 0
	/* height 100% */
	height 8em
	width 8em
	border-radius 6%
	background-color cadetblue
	display flex
	flex-direction column
	@media $phone
		display none

.event_calendar .date-title
	width  100%
	height  10%
	text-align  center
	color white

.event_calendar .number_month
	background-color  azure
	width  calc(100% - 2em)
	height  calc(70% - 1em)
	display flex
	flex-direction column
	margin-left 1em
	margin-right 1em

.event_calendar .number
	width  100%
	height  calc(80% - 2em)
	text-align  center

.event_calendar .month
	width  100%
	height  calc(20% - 1em)
	text-align  center

.desktop_events .event-info
	margin  0 0 0 1em
	position  relative
	width  calc(40% - 1em)
	@media $phone
		width 100%

.desktop_events .event-info .title-row
	position  relative
	display flex
	flex-direction row

.desktop_events .event-info .title-row .new-title
	color  #320096

.desktop_events .event-info .title-row .tbutton
	position  relative
	margin  0em 0em 0em 1em

.desktop_events .event-people
	width  calc(30%)
	@media $phone
		width 100%

	display flex
	flex-direction column

.requisites_teamchoose
	border-color rgba(90, 96, 96, 0.9) !important

.visitors_searchlay
	width 100%
	display flex
	flex-direction row
	border 1px solid gray
	@media $phone
		flex-direction column
	background-color rgba(0, 0, 0, 0.05)

.visitors_searchlay .element
	padding 1em 1em 1em 1em
	width 100%
	@media $desktop
		width 30%
		border-right 1px solid gray

.visitors_searchlay .age
	@extends .visitors_searchlay .element
	@media $desktop
		width 20%

.visitors_searchlay .city
	@extends .visitors_searchlay .element
	@media $desktop
		width 20%

.visitors_searchlay .sex
	@extends .visitors_searchlay .element
	@media $desktop
		width 20%

.visitors_searchlay .search
	@extends .visitors_searchlay .element
	@media $desktop
		width 30%

.visitors_searchlay .butt
	padding 1em 1em 1em 1em
	@media $desktop
		width 20%

.visitors_searchlay .butt-inner
	width 100%
.visitors_table
	margin-top 2em

/* team people page */
.teampeople_table
	width 100%

.teampeople_table .column_name
	width 40%
	@media $phone
		width 100%

.teampeople_table .column_role
	width 40%
	@media $phone
		width 100%

.teampeople_table .column_buts
	width 100%
	@media $phone
		width 100%

.teampeople_table .human_new_row
	width 100%
	display flex
	flex-direction row

.teampeople_table .buts
	display: flex
	flex-direction: row
	padding 1em 1em 1em 1em

.teampeople_table .buts_single
	margin 0em 0em 0em 1em

/* layout */

.layout_icons
	display flex
	flex-direction row-reverse
	width 50%

.layout_icons .icon-elem
	background-repeat no-repeat
	// border 1px black solid
	color green
	height 40px
	background-size 100% auto !important
	padding-right 1em
	padding-left 1em
	width 25%

.layout_icons .cashpack
	@extends .layout_icons .icon-elem
	background url('../../images/icon-cashpack.png') no-repeat

.layout_icons .settings
	@extends .layout_icons .icon-elem
	background url('../../images/icon-settings.png') no-repeat

.layout_icons .mail
	@extends .layout_icons .icon-elem
	background url('../../images/icon-mail.png') no-repeat
	width 25%

.layout_icons .man
	@extends .layout_icons .icon-elem
	background url('../../images/icon-man.png') no-repeat

/* roles */
.roles_lay_access
	display flex
	flex-direction column
	padding-top 1em

.roles_button_save
	@media $phone
		width 100%

.event_people
	width 100%

.event_people .row_buttons
	display flex
	flex-direction row
	@media $phone
		flex-direction column
		width 100%

.event_people .row_buttons .row_elem
	@media $desktop
		width 40%
		margin-left 1em
	@media $phone
		width 100%

.event_people_row_choose
	display flex
	flex-direction row

.event_people_row_choose .text
	text-align center

.event_people .people_status
	display flex
	flex-direction row
	justify-content space-between

.event_people .status_frame
	width 40px
	height 20px
	color white
	border-radius 1em
	text-align center
	display flex
	flex-direction column
	justify-content center

.event_people .status_ok
	@extends .event_people .status_frame
	background rgba(0, 140, 0, 1)

.event_people .status_no
	@extends .event_people .status_frame
	background rgba(140, 40, 40, 1)

.event_people table_wrap
	width 100%
	
.event_stats
	width 100%
	
.button
	display flex
	flex-direction row
	justify-content center
	padding 0 0 0 0 !important
	
.button_centered
	display flex
	flex-direction row
	justify-content center
	padding 0 0 0 0 !important
	

.event_create
	display flex
	flex-direction row-reverse
	@media $phone
		flex-direction column

.event_create .steps_list
	display flex
	flex-direction column
	width 30%
	@media $phone
		width 100%

.event_create .steps_list .but_step
	margin-top 10px
	color black
	background rgba(0, 0, 0, 0.05)
	border 2px solid gray
	border-radius 8px
	display flex
	flex-direction column
	justify-content center
	text-align center
	height 40px

.event_create .steps_list .but_step_cur
	@extends .event_create .steps_list .but_step
	background #10c7ff
	
.event_create .edit_data
	display flex
	flex-direction column
	width 70%
	@media $phone
		width 100%
	@media $desktop
		margin-right 2em

.event_create .edit_data .step
	width 100%
	
.event_create label
	margin-top 1em
	font-size 110%
	margin-bottom -1px
	
.event_create .datetime_row
	margn-left -1em
	display flex
	flex-direction row
			   
.event_create .datetime_row > *
	margin-right 1em
	border-radius 4px
	
.event_create .table_tickets
	width 100%
	margin-top 1em
	min-width 400px
	
.event_create .table_tickets .name
	width 20%
.event_create .table_tickets .cost
	width 10%
.event_create .table_tickets .status
	width 10%
.event_create .table_tickets .limit
	width 10%
.event_create .table_tickets .buts
	width 5%

.event_create .table_tickets .buts_single
	display flex
	flex-direction row
	justify-content center
	width 100%

.event_create .row_rent
	display flex
	flex-direction row
	width 100%

.event_create .row_rent > *
	width 100px

.button_topleft
	margin-top 1px

.hidden
	display none

.event_create .centered
	display flex
	flex-direction row
	justify-content center
	

.event_create .load_file
	width 100%
	height 100%
	min-height 400px
	background rgba(0, 0, 0, 0.05)
	border 1px groove gray
	border-radius 1em
	display flex
	flex-direction column
	justify-content center
	text-align center
	align-content center
	
.event_create .short_centered_but_wrap
	width 100%
	display flex
	flex-direction row
	justify-content center
	
.event_create .short_centered_but
	width 100%
	@media $desktop
		width 30%
	
.event_create .file_list
	width 100%
	margin-bottom 1em
	display flex
	flex-direction column
	justify-content center
.event_create .file_list .file_item
	
	display flex
	flex-direction row
	width 100%
	@media $desktop
		justify-content space-between
		width 40%
	@media $phone
		justify-content space-between
	margin-bottom 1em
	
.event_create .file_list .file_item > *
	margin-right 1em
	
.event_create .file_list .file_item .pict
	height 64px
	border 1px solid gray
	
.messages
	width 100%

.messages_layout
	display flex
	flex-direction row

.messages .table-wrapper .col_acts
	width 10%
.messages .table-wrapper .col_time
	width 20%
.messages .table-wrapper .col_author
	width 30%
.messages .table-wrapper .col_theme
	width 40%
.messages_dialog
	width 100%
	
.messages_dialog p
	border 1px solid gray
	border-radius 4px

.messages_dialog .msg_their
	display inline-block
	align right
	width 80%
	padding 1em 1em 1em 1em
	background-color rgba(99, 0, 0, 0.05)

.messages_dialog .msg_own_label
	text-align right

.messages_dialog .msg_their_label
	text-align left

.messages_dialog .msg_own
	display inline-block
	align right
	width 80%
	margin-left 20%
	padding 1em 1em 1em 1em
	background-color rgba(0, 0, 0, 0.05)

.messages_dialog .buts_layout
	padding-top 1em
	@media $desktop
		width 60%
	display flex
	flex-direction row
	
.messages_dialog .buts_layout > *
	margin-right 1em

.messages_dialog .file_attached
	width 60%
	display flex
	flex-direction row

.messages_dialog .file_attached > *
	margin-right 1em
	

.messages_new label
	margin-top 1em
	
.butt_short
	width 30%
	@media $phone
		100%
			   
.comprofile_lay label
	margin-top 1em

.comprofile .list_events
	width 100%

.comprofile .list_events .event_row
	display flex
	flex-direction row
	@media $phone
		flex-direction column
	width 100%
	margin-top 1em
	border-bottom 1px solid gray
	
.comprofile .list_events .event_row .descr_lay
	margin-left 1em
	display flex
	flex-direction column
	width 100%
	
.comprofile .list_events .event_row .descr_lay .title
	color rgba(0, 10, 100, 1)

.comprofile .list_events .event_row .butts_lay
	margin-left 1em
	display flex
	flex-direction column
	width 20%

.finance_history .table-wrapper
	width 100%
	@media $desktop
		width 60%
			   
.finance_history .table-wrapper .money_add
	color green
	font-size 116%
	
.finance_history .table-wrapper .money_del
	color red
	font-size 116%
	
.contract .row_chooser
	width 100%
	display flex
	flex-direction row
	@media $phone
		flex-direction column
	margin-top 1em
	@media $desktop
		justify-content space-between

.contract .row_buttons
	width 100%
	display flex
	flex-direction row
	justify-content space-between
	@media $phone
		flex-direction column

.contract .row_buttons a
	margin-top 1em
	width 20%
	
.contract_view_wrap
	width 100%
	flex-direction row
	justify-content center
.contract_view_descr
	width 21cm
	
.pattern label
	margin-top 1em
	
.pattern .que_row
	display flex
	flex-direction row
	width 100%
	

.pattern .badge
	border solid 1px black
	border-radius 4px
	
	width 600px
	height 300px
	display flex
	flex-direction row
	
.pattern .badge .text
	padding-left 4px
	width 60%
	display flex
	flex-direction column
	justify-content center

.pattern .badge .logo_wrap
	width 100%
	
.pattern .badge .logo
	width 100%

.pattern .badge .qrcode_wrap
	height 40%

.pattern .badge .qrcode
	height 100%

.file-form
.choose_company
	position fixed
	z-index 100
	top 50%
	left 50%
	transform translate(-50%, -50%)
	padding 20px
	background white
.overlay
	position fixed
	top 0
	bottom 0
	right 0
	left 0
	width 100%
	height 100%
	z-index 80
	background rgba(0, 0, 0, 0.7)