@import 'nib'

.row
  .input
    display block
    float none
    max-width 400px
    width 80%
section.login
  position absolute
  top 0
  bottom 0
  right 0
  left 0
  display flex
  flex-direction column
  align-items center
  justify-content center
  form
    width 300px